<template>
    <v-app>

        <div class="bg-site">
            <img class="img-logo" src="./assets/logo-icon-white.svg"/>
            <h3>
                envia.com<br/>

            </h3>

            <h1>Contador de guías</h1>
        </div>

        <h1 class="title-main">
            <v-icon style="font-size: 48px;">mdi-cube-send</v-icon>
            Guías recibidas ({{guias.total}})
        </h1>

        <v-data-table
                :headers="guias.cabeceras"
                :items="guias.lista"
                item-key="name"
                class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar flat>
                    <v-spacer></v-spacer>
                    <v-btn :loading="guias.cargando" :disabled="guias.cargando" @click="generarGuia" color="primary">
                        Generar guía
                    </v-btn>
                </v-toolbar>
            </template>
            <template #item.trackingNumber="{ item }">
                <div><a :href="item.trackUrl" target="_blank">{{item.trackingNumber}}</a></div>
            </template>
            <template #item.label="{ item }">
                <div><a :href="item.label" target="_blank">Ver etiqueta</a></div>
            </template>
            <template #item.currentBalance="{ item }">
                <div>${{new Intl.NumberFormat().format(item.currentBalance)}}</div>
            </template>
        </v-data-table>
        <v-snackbar
                top
                right
                color="success"
                v-model="guias.aviso"
                :timeout="2000"
        >
            {{ guias.texto }}
            <v-btn
                    color="white"
                    text
                    @click="guias.aviso = false"
            >
                Cerrar
            </v-btn>
        </v-snackbar>
    </v-app>
</template>
<script>
    import {server} from './config';
    import io from 'socket.io-client';

    const socket = io(server);

    export default {
        data: () => ({
            guias: {
                texto: null,
                aviso: false,
                cargando: false,
                total: 0,
                lista: [],
                cabeceras: [
                    {text: 'No. de seguimiento', value: 'trackingNumber'},
                    {text: 'Transportista', value: 'carrier'},
                    {text: 'Saldo actual', value: 'currentBalance'},
                    {text: 'Moneda', value: 'currency'},
                    {text: 'Etiqueta', value: 'label'}
                ]
            },
        }),
        methods: {
            async generarGuia() {
                this.guias.cargando = true;
                await this.$http.post('/nueva-guia');
                this.guias.cargando = false;
            }
        },
        async created() {
            const peticion = await this.$http.get('/listar-guias');
            this.guias.lista = peticion.data.info;
            this.guias.total = peticion.data.total;
        },
        async mounted() {
            let guias = this.guias;
            await socket.on('connect', function () {
                console.log("conectado")
                socket.on('nueva-guia', async function (message) {
                    guias.lista.unshift(message[0].info);
                    guias.total = message[0].total;
                    guias.aviso = true;
                    guias.texto = "Nueva guía creada"
                })
            });
        },
    }
</script>
<style>
    body {
        margin: auto;
    }

    h1.title-main {
        margin-top: 50px;
    }

    .img-logo {
        max-width: 70px;
        width: 100%;
    }

    .bg-site {
        padding: 50px;
        background-image: url('./assets/background.svg');
        background-position: top;
        background-repeat: no-repeat;
    }

    .bg-site h1 {
        margin-top: 25px;
        font-size: 45px;
        color: #b6f5de;
    }

    .bg-site h3 {
        color: white;
    }

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }
</style>
